<div class="col-8 mx-auto">
    <h2 id="title" class="text-center ">{{post.title}}</h2>
    <p class="text-center ">Created by {{post.user.name}} on {{format_date post.date_created}}</p>
    <p>{{post.content}}</p>

</div>
<h3 class="text-center fs-4">Comments</h3>
<div>
    <form class="new-comment-form col-6 mx-auto">
        <div class="mb-3">
            <input type="text" class="form-control" id="comment" placeholder="Add New Comment...">
        </div>
        <div class="text-center  ">
            <button type="submit" class="btn btn-primary  fs-5">Post</button>
        </div>
    </form>
</div>


{{#each comment}}
<div class="bg-light p-2 m-2 col-6 mx-auto">
    <p>"{{ccontent}}"</p>
    <p class="fst-italic">-{{user.name}} {{format_date date_created}}</p>
</div>

{{/each}}

<script src="/js/comment.js"></script>